/* 컨테이너폭 */
.inner {
    max-width: 1440px;
    width: 100%;
    margin: auto;
    position: relative;
}

#header {
    width: 100%;
    border-bottom: 4px solid rgb(254, 218, 142);
    border-top: 2px solid rgb(255, 255, 255);
    background: #fff;
    margin: 0 auto;
    position: absolute;
    z-index: 100;
    position: fixed;
}

nav.navbar {
    position: relative;
    height: 90px;
}

.logo {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin-bottom: 0;
    line-height: 1;
}

.logo a {
    background: url('../img/mian_logo.svg') center no-repeat;
    background-size: contain;
    display: inline-block;
    overflow: hidden;
    width: 107px;
    height: 77px;
    font-size: 0;
}

/* nav */
#all-menu {
    display: none;
}

.menu-area {
    display: flex;
    height: 100%;
    flex-direction: row;
    justify-content: space-between;
}

.gnb-right {
    display: flex;
    flex-direction: row;
}

.menu-left::after,
.menu-right::after {
    content: '';
    display: block;
    clear: both;
}

.menu-left>li,
.menu-right>li,
.gnb-icon ul>li {
    position: relative;
    float: left;
    margin-right: 5px;
}

.menu-left>li>a,
.menu-right>li>a {
    display: inline-block;
    padding: 0 15px;
    height: 90px;
    font-weight: 700;
    line-height: 90px;
    color: #8A5124;
}

.menu-tit>a::after {
    position: relative;
    content: "";
    display: block;
    border-bottom: 5px solid rgba(138, 81, 36, .5);
    border-radius: 50px;
    transition: width 250ms ease-out;
    bottom: 30px;
    left: auto;
    right: 0;
    width: 0;
}

.menu-tit>a.active::after {
    width: 100%;
    left: 0;
    right: auto;
}

.dropdown-1 li a:hover {
    color: #fff;
    background: #8A5124;
}

.menu-area .dropdown-1 {
    background: #FEDA8E;
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 1;
    width: 150px;
}

.dropdown-1 a {
    color: #8A5124;
    display: block;
    padding: 5px;
    text-transform: uppercase;
    font-weight: 700;
}

.gnb-icon ul>li>a {
    display: inline-block;
}

.icon1 {
    background: url('../img/icon1.png') no-repeat center;
    width: 50px;
    height: 50px;
    transform: translate(50%, 50%);
}

.icon2 {
    background: url('../img/icon2.png') no-repeat center;
    width: 50px;
    height: 50px;
    transform: translate(50%, 50%);
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100vh;
    background: rgb(254, 218, 142, .5);
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.overlay.show {
    opacity: 1;
}

.main-visual {
    position: relative;
    left: 0;
    top: 0;
    height: 100vh;
}

/* swiper */

.swiper {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0px;
    left: 0px;
}

.viewImgList {
    position: relative;
    width: 100%;
}

.viewImgList li {
    text-align: center;
    height: 100vh;

    line-height: 550px;
}

.viewImgList li.imglist0 {
    background: url('../img/mian_slid1.jpg') no-repeat center;
}

.viewImgList li.imglist1 {
    background: url('../img/mian_slid2.jpg') no-repeat center;
}

.viewImgList li.imglist2 {
    background: url('../img/mian_slid3.jpg') no-repeat center;
}

.viewImgList li {
    background-size: cover !important;
}

.viewImgList li .roll-content {
    position: relative;
}

.viewImgList li .roll-content {
    position: absolute;
    left: 0;
    color: #fff;
    width: 100%;
    text-align: center;
    font-size: 0px;
    line-height: 1;
    letter-spacing: 2px;
}

/* content */
.cake-box {
    /* background: #FEDA8E; */
    text-align: center;
    position: relative;
    padding: 90px 0;
    display: flex;
    align-content: center;
    height: 100vh;
}

.cake-box::after {
    background: url(../img/line.png) no-repeat center top 8px;
    position: absolute;
    top: 10%;
    left: 0px;
    content: '';
    width: 100%;
    height: 744px;
    z-index: -1;
    background-size: 100% auto;
}

.cake-box h2 {
    font-weight: 500;
    margin-top: 5.4rem;
    color: #8A5124;
}

.btn-more {
    display: inline-block;
    position: absolute;
    left: 0;
    text-align: left;
    color: #8A5124;
    font-weight: 700;
    z-index: 1;
}


.cake-wrap ul {
    position: relative;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.cake-wrap ul strong {
    display: block;
    margin: 20px;
    font-size: 18px;
    font-weight: 700;
    color: #8A5124;
    line-height: 30px;
}

.cake-wrap ul p {
    margin: 10px 0 0 0;
    color: #555555;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0;
    text-align: center;
    word-break: keep-all;
}

.cake-wrap ul li {
    width: calc(100%/4 - 50px);
    overflow: hidden;
}

.cake-wrap ul li {
    margin-right: 35px;
}

.cake-wrap ul li:last-child {
    margin: 0;
}

.cake-item {
    text-align: center;
    transform: translateY(5px);
}

.cake-item img:hover {
    transform: translateY(-5px);
}


.cake-item img {
    width: 100%;
}

/* cake-contents */
.cake-contents {
    padding: 96px 0;
    height: 100vh;
}

.contents-area {
    position: relative;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    /* min-height: 100; */
    align-items: center;
    height: 100%;
    overflow: hidden;
}

.contents-area li:nth-child(1) {
    background: url('../img/img_conts2.png') no-repeat center;
    background-size: cover;
}

.contents-area li:nth-child(2) {
    background: url('../img/img_conts3.png') no-repeat center;
    background-size: cover;
}

.contents-area li:nth-child(3) {
    background: url('../img/img_conts4.png') no-repeat center;
    background-size: cover;
}

.contents-area li:nth-child(4) {
    background: url('../img/img_conts5.png') no-repeat center;
    background-size: cover;
}

.contents-area img {
    width: 100%;
}

.contents-area:first-child>div {
    width: calc(60% - 50px);
    height: 100%;
}

.contents-area:first-child>ul {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    width: calc(40% - 7px);
    height: 100%;
}

.contents-area:first-child>ul li {
    position: relative;
    width: calc(100%/2 - 6px);
    height: calc(100%/2 - 6px);
}

.contents-area:first-child>ul li:nth-child(odd) {
    margin-right: 12px;
}

.contents-area ul li:nth-child(1),
.contents-area ul li:nth-child(2) {
    margin-bottom: 12px;
}


.contents-area a {
    position: relative;
    display: block;
    height: 100%;
}

.contents-area a img {
    height: 100%;
    position: absolute;
    overflow: hidden;

}

.cake-contents-tit {
    font-size: 24px;
    color: #fff;
    margin-bottom: 15px;
    display: inline-block;
}


.caption {
    position: absolute;
    bottom: 10%;
    padding: 24px;
}

.contents-area ul li .caption {
    bottom: -4%;
}

.cake-contents-tit+p {
    font-size: 14px;
    color: #fff;
}

/* footer */
#footer {
    background: #8A5124;
}

.footer-inner {
    position: relative;
    margin: 0 auto;
}

.footer-info {
    display: flex;
    align-items: center;
    height: 123px;
}

address {
    margin-left: 40px;
    color: #8C8C8C;
    font-size: 12px;
    line-height: 1.4;
}

address span {
    display: inline-block;
}

address p {
    margin-top: 10px;
}

.footer-area {
    margin-left: auto;
    margin-right: 130px;
}

.footer-area a {
    color: #8A5124;
    margin-left: 10px;
    background: #B58056;
    border-radius: 50px;
    font-weight: 700;
    padding: 0 8px;
}

/* top button */
#back-to-top {
    position: fixed;
    bottom: 2em;
    right: 2em;
    background: url('../img/top.png') no-repeat;
    display: inline-block;
    padding: 1em;
    opacity: 0;
}

#back-to-top.visible {
    opacity: 1;
}

/* 데스크탑~노트북 */
@media screen and (min-width:961px) and (max-width:1280px) {
    #wrap .inner {
        width: 100%;
        margin: 0 auto;
    }

    #header {
        width: 100%;
    }

    .logo {
        position: relative;
        left: 0%;
        top: 0;
    }

    .logo a {
        position: absolute;
        width: 100%;
        left: 50%;
        z-index: 100;
    }

    .gnb-icon ul>li>a {
        display: none;
    }

    #content {
        padding: 0 20px;
        width: 100%;
    }

    #back-to-top {
        position: absolute;
    }

    .footer-area {
        position: absolute;
        top: 70px;
        left: 655px;
        width: 100%;
    }

}


/* 테블릿 */
@media screen and (max-width: 960px) {
    #wrap .inner {
        width: 100%;
        margin: 0 auto;
    }

    .menu-area {
        flex-direction: column;
        position: absolute;
        right: 15%;
        top: 104%;
        width: 40px;
        height: 40px;
        opacity: 1;
    }

    .gnb-left,
    .gnb-right {
        align-items: center;
        opacity: 0;
        visibility: hidden;
    }

    .gnb-left.active,
    .gnb-right.active {
        opacity: 1;
        visibility: visible;
    }

    .gnb-icon {
        display: none;
    }

    .menu-area .menu-item {
        display: block;
        margin: auto;
        margin-bottom: 8px;
    }

    .menu-left>li,
    .menu-right>li {
        background: rgba(138, 81, 36, .9);
        width: 180px;
    }

    .menu-left>li>a,
    .menu-right>li>a {
        color: #FEDA8E;
        line-height: 1.4;
        text-align: center;
        padding: 25px;
        vertical-align: middle;
        height: 50%;
    }


    #all-menu {
        display: block;
        position: absolute;
        right: 12px;
        top: -25px;
        width: 40px;
        height: 40px;
        background: url('../img/menu.png') no-repeat center;
    }

    #all-menu.active {
        background: url('../img/close-button.png') no-repeat center;
        background-size: contain;
    }

    #content {
        padding: 0 20px;
        width: 100%;
    }

    .cake-contents-tit+p {
        font-size: 12px;
        line-height: 1.4;
    }

    .footer-area {
        position: absolute;
        top: 70px;
        left: 655px;
        width: 100%;
    }

    .cake-contents-tit {
        font-size: 20px;
        margin-bottom: 5px;
    }
}

/* 모바일 */
@media screen and (max-width: 480px) {
    #wrap .inner {
        width: 100%;
        margin: 0 auto;
    }

    .logo a {
        width: 80px;
    }

    .menu-area {
        flex-direction: column;
        position: absolute;
        right: 30%;
        top: 104%;
        width: 40px;
        height: 40px;
        opacity: 1;
    }

    .gnb-left,
    .gnb-right {
        align-items: center;
        opacity: 0;
        visibility: hidden;
    }

    .gnb-left.active,
    .gnb-right.active {
        opacity: 1;
        visibility: visible;
    }

    .gnb-icon {
        display: none;
    }

    .menu-area .menu-item {
        display: block;
        margin: auto;
        margin-bottom: 8px;
    }

    .menu-left>li,
    .menu-right>li {
        background: rgba(138, 81, 36, .9);
        width: 180px;
    }

    .menu-left>li>a,
    .menu-right>li>a {
        color: #FEDA8E;
        line-height: 1.4;
        text-align: center;
        padding: 25px;
        vertical-align: middle;
        height: 50%;
    }


    #all-menu {
        display: block;
        position: absolute;
        right: 12px;
        top: -25px;
        width: 30px;
        height: 40px;
        background: url('../img/menu.png') no-repeat center;
    }

    #all-menu.active {
        background: url('../img/close-button.png') no-repeat center;
        width: 35px;
        height: 40px;
    }

    .swiper-button-prev {
        background: none;
    }

    .swiper-button-next {
        right: 20px;
        width: 25px;
        transform: translate(50%, 178%);
    }

    .swiper-pagination-bullet {
        width: 10px;
        height: 10px;
    }

    #content {
        padding: 0 20px;
        width: 100%;
    }

    .cake-box h2 {
        font-size: 2.1rem;
    }

    .btn-more {
        display: inline-block;
        position: absolute;
        left: 343px;
        top: 95px;
        color: #8A5124;
        font-weight: 700;
        z-index: 1;
    }

    .cake-wrap ul {
        position: relative;
        display: flex;
        flex-grow: 2;
        width: 100%;
        /* height: 100%; */
        justify-content: center;
        align-items: center;
        flex-direction: column;
        flex-basis: 100%;
        margin-top: auto;
    }

    .cake-wrap ul li {
        overflow: hidden;
        width: 100%;
    }

    .cake-wrap ul strong {
        display: block;
        margin: 2px;
        font-size: 18px;
        font-weight: 700;
        line-height: 18px;
    }

    .cake-wrap ul p {
        margin: 10px;
        color: #555555;
        font-weight: 400;
        line-height: 24px;
        text-align: center;
        word-break: keep-all;
    }

    .cake-contents-tit+p {
        font-size: 12px;
        line-height: 1.4;
    }

    .footer-area {
        position: absolute;
        top: 70px;
        left: 655px;
        width: 100%;
    }

    .cake-contents-tit {
        font-size: 20px;
        margin-bottom: 5px;
    }

    #back-to-top {
        bottom: 2em;
        right: 1em;
        padding: 1em;
        width: 20px;
        height: 20px;
        background: url('../img/top.png') no-repeat center, #B58056;
        background-size: contain;
        border-radius: 50%;
    }

}