/* 컨테이너폭 */
.inner {
    max-width: 1440px;
    width: 100%;
    margin: auto;
    position: relative;
}

#header {
    width: 100%;
    border-bottom: 4px solid rgb(254, 218, 142);
    border-top: 2px solid rgb(255, 255, 255);
    background: #fff;
    margin: 0 auto;
    position: absolute;
    z-index: 100;
    position: fixed;

}




nav.navbar {
    position: relative;
    height: 90px;
}

.logo {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin-bottom: 0;
    line-height: 1;
}

.logo a {
    background: url('../img/mian_logo.svg') center no-repeat;
    background-size: contain;
    display: inline-block;
    overflow: hidden;
    width: 107px;
    height: 77px;
    font-size: 0;
}

/* nav */
.menu-area {
    display: flex;
    height: 100%;
    flex-direction: row;
    justify-content: space-between;
}

.gnb-right {
    display: flex;
    flex-direction: row;
}

.menu-left::after,
.menu-right::after {
    content: '';
    display: block;
    clear: both;
}

.menu-left>li,
.menu-right>li,
.gnb-icon ul>li {
    position: relative;
    float: left;
    margin-right: 5px;
}

.menu-left>li>a,
.menu-right>li>a {
    display: inline-block;
    padding: 0 15px;
    height: 90px;
    font-weight: 700;
    line-height: 90px;
    color: #8A5124;
}

.menu-tit>a::after {
    position: relative;
    content: "";
    display: block;
    border-bottom: 5px solid rgba(138, 81, 36, .5);
    border-radius: 50px;
    transition: width 250ms ease-out;
    bottom: 30px;
    left: auto;
    right: 0;
    width: 0;
}

.menu-tit>a.active::after {
    width: 100%;
    left: 0;
    right: auto;
}

.dropdown-1 li a:hover {
    color: #fff;
    background: #8A5124;
}

/* 2댑스감추기 */
.menu-area .dropdown-1 {
    background: #FEDA8E;
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 1;
    width: 150px;
}

/* .dropdown-1 {
    display: inline-block;
    width: 100%;
    height: auto;
} */

.dropdown-1 a {
    color: #8A5124;
    display: block;
    padding: 5px;
    text-transform: uppercase;
    font-weight: 700;
}


.gnb-icon ul>li>a {
    display: inline-block;
}

.icon1 {
    background: url('../img/icon1.png') no-repeat center;
    width: 50px;
    height: 50px;
    transform: translate(50%, 50%);
}

.icon2 {
    background: url('../img/icon2.png') no-repeat center;
    width: 50px;
    height: 50px;
    transform: translate(50%, 50%);
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100vh;
    background: rgb(254, 218, 142, .5);
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.overlay.show {
    opacity: 1;
}


.main-visual {
    position: relative;
    left: 0;
    top: 0;
    height: 100vh;
}

/* swiper */

.swiper {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0px;
    left: 0px;
}

.viewImgList {
    position: relative;
    width: 100%;
}

.viewImgList li {
    text-align: center;
    height: 100vh;

    line-height: 550px;
}

.viewImgList li.imglist0 {
    background: url('../img/mian_slid1.jpg') no-repeat center;
}

.viewImgList li.imglist1 {
    background: url('../img/mian_slid2.jpg') no-repeat center;
}

.viewImgList li.imglist2 {
    background: url('../img/mian_slid3.jpg') no-repeat center;
}

.viewImgList li {
    background-size: cover !important;
}

.viewImgList li .roll-content {
    position: relative;
}

.viewImgList li .roll-content {
    position: absolute;
    left: 0;
    color: #fff;
    width: 100%;
    text-align: center;
    font-size: 0px;
    line-height: 1;
    letter-spacing: 2px;
}

/* content */
.cake-box {
    /* background: #FEDA8E; */
    text-align: center;
    position: relative;
    padding: 90px 0;
    display: flex;
    align-content: center;
}


.cake-box::after {
    background: url(../img/line_2.png) no-repeat center top 8px;
    position: absolute;
    top: 10%;
    left: 0px;
    content: '';
    width: 100%;
    height: 744px;
    z-index: -1;
    background-size: 100% auto;
}

.cake-box h2 {
    font-weight: 500;
    margin-top: 5.4rem;
    color: #8A5124;
}

.btn-more {
    display: inline-block;
    position: absolute;
    left: 0;
    text-align: left;
    color: #8A5124;
    font-weight: 700;
}

/* .cake-wrap {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 30px;
} */
.cake-wrap ul {
    position: relative;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
}


.cake-wrap ul strong {
    display: block;
    margin: 20px;
    font-size: 18px;
    font-weight: 700;
    color: #8A5124;
    line-height: 30px;
}


.cake-wrap ul li {
    width: calc(100%/4 - 50px);
    overflow: hidden;
}

.cake-wrap ul li {
    margin-right: 35px;
}

.cake-wrap ul li:last-child {
    margin: 0;
}

.cake-item {
    text-align: center;
    transform: translateY(5px);
}

.cake-item img:hover {
    transform: translateY(-5px);
}


.cake-item img {
    width: 100%;
}



/* footer */
#footer {
    background: #8A5124;
}

.footer-inner {
    position: relative;
    margin: 0 auto;
}

.footer-info {
    display: flex;
    align-items: center;
    height: 123px;
}

address {
    margin-left: 40px;
    color: #8C8C8C;
    font-size: 12px;
    line-height: 1.4;
}

address span {
    display: inline-block;
}

address p {
    margin-top: 10px;
}

.footer-area {
    margin-left: auto;
    margin-right: 130px;
}

.footer-area a {
    color: #8A5124;
    margin-left: 10px;
    background: #B58056;
    border-radius: 50px;
    font-weight: 700;
    padding: 0 8px;
}

/* top button */
#back-to-top {
    position: fixed;
    bottom: 2em;
    right: 2em;
    background: url('../img/top.png') no-repeat;
    display: inline-block;
    padding: 1em;
    opacity: 0;
}

#back-to-top.visible {
    opacity: 1;
}